@charset "utf-8";
/********************
名称: FlexUI
作者: 曾宪明
联系：seovery@qq.com
创建: 2015.12.28
修改: 2016.12.25
版本: v4.0
********************/
/*root*/
*,
*::before,
*::after {
    box-sizing: inherit;
}
html {
    font-size: 20px;
    line-height: 20px;
    box-sizing: border-box;
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}
body {
    height: 100%;
    font-size: 0.7rem;
    line-height: 1rem;
    color: #333;
    background-color: #fff;
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#app {
    display: block;
    width: 100%;
    min-height: 1rem;
}
/*flex core*/
.flex,
.flexn>ul,
.flexn>li,
.flexn>div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 0 0 100%;
}
.flex-inline {
    display: inline-flex;
}
.flex-row {
    flex-direction: row;
}
.flex-col {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-nowrap {
    flex-wrap: nowrap;
}
.flex-rewrap {
    flex-wrap: wrap-reverse;
}
/*flex-x*/
.flex-left {
    justify-content: flex-start;
}
.flex-right {
    justify-content: flex-end;
}
.flex-center {
    justify-content: center;
}
.flex-between {
    justify-content: space-between;
}
.flex-around {
    justify-content: space-around;
}
/*flex-y*/
.flex-stretch {
    align-items: stretch;
}
.flex-top {
    align-items: flex-start;
}
.flex-bottom {
    align-items: flex-end;
}
.flex-middle {
    align-items: center;
}
.flex-baseline {
    align-items: baseline;
}
/*flex-xz*/
.flexz-stretch {
    align-content: stretch;
}
.flexz-start {
    align-content: flex-start;
}
.flexz-end {
    align-content: flex-end;
}
.flexz-center {
    align-content: center;
}
.flexz-between {
    align-content: space-between;
}
.flexz-around {
    align-content: space-around;
}
/*flex-yz*/
.flexz-auto {
    align-self: auto;
}
.flexz-stretch {
    align-self: stretch;
}
.flexz-top {
    align-self: flex-start;
}
.flexz-bottom {
    align-self: flex-end;
}
.flexz-middle {
    align-self: center;
}
.flexz-baseline {
    align-self: baseline;
}
/*grid*/
.grid,
.gridn>ul,
.gridn>li,
.gridn>div {
    flex-basis: 0;
    flex-grow: 1;
}
.grid-1,
.gridn-1>ul,
.gridn-1>li,
.gridn-1>div {
    flex: 0 0 100%;
}
.grid-2,
.gridn-2>ul,
.gridn-2>li,
.gridn-2>div {
    flex: 0 0 50%;
}
.grid-3,
.gridn-3>ul,
.gridn-3>li,
.gridn-3>div {
    flex: 0 0 33.333333%;
}
.grid-4,
.gridn-4>ul,
.gridn-4>li,
.gridn-4>div {
    flex: 0 0 25%;
}
.grid-5,
.gridn-5>ul,
.gridn-5>li,
.gridn-5>div {
    flex: 0 0 20%;
}
.grid-6,
.gridn-6>ul,
.gridn-6>li,
.gridn-6>div {
    flex: 0 0 16.666667%;
}
.grid-7,
.gridn-7>ul,
.gridn-7>li,
.gridn-7>div {
    flex: 0 0 14.285714%;
}
.grid-8,
.gridn-8>ul,
.gridn-8>li,
.gridn-8>div {
    flex: 0 0 12.5%;
}
.grid-9,
.gridn-9>ul,
.gridn-9>li,
.gridn-9>div {
    flex: 0 0 11.111111%;
}
.grid-10,
.gridn-10>ul,
.gridn-10>li,
.gridn-10>div {
    flex: 0 0 10%;
}
.grid-11,
.gridn-11>ul,
.gridn-11>li,
.gridn-11>div {
    flex: 0 0 9.0909091%;
}
.grid-12,
.gridn-12>ul,
.gridn-12>li,
.gridn-12>div {
    flex: 0 0 8.3333333%;
}
/*col*/
.col,
.coln>ul,
.coln>li,
.coln>div {
    flex-basis: 0;
    flex-grow: 1;
}
.col-1,
.coln-1>ul,
.coln-1>li,
.coln-1>div {
    flex: 0 0 8.333333%;
}
.col-2,
.coln-2>ul,
.coln-2>li,
.coln-2>div {
    flex: 0 0 16.666667%;
}
.col-3,
.coln-3>ul,
.coln-3>li,
.coln-3>div {
    flex: 0 0 25%;
}
.col-4,
.coln-4>ul,
.coln-4>li,
.coln-4>div {
    flex: 0 0 33.333333%;
}
.col-5,
.coln-5>ul,
.coln-5>li,
.coln-5>div {
    flex: 0 0 41.666667%;
}
.col-6,
.coln-6>ul,
.coln-6>li,
.coln-6>div {
    flex: 0 0 50%;
}
.col-7,
.coln-7>ul,
.coln-7>li,
.coln-7>div {
    flex: 0 0 58.333333%;
}
.col-8,
.coln-8>ul,
.coln-8>li,
.coln-8>div {
    flex: 0 0 66.666667%;
}
.col-9,
.coln-9>ul,
.coln-9>li,
.coln-9>div {
    flex: 0 0 75%;
}
.col-10,
.coln-10>ul,
.coln-10>li,
.coln-10>div {
    flex: 0 0 83.333333%;
}
.col-11,
.coln-11>ul,
.coln-11>li,
.coln-11>div {
    flex: 0 0 91.666667%;
}
.col-12,
.coln-12>ul,
.coln-12>li,
.coln-12>div {
    flex: 0 0 100%;
}
/*width*/
.wd-free {
    flex: 1 1 0;
}
.wd-half {
    flex: 0 0 50%;
}
.wd-full {
    flex: 0 0 100%;
}
.wd-10,
.wdn-10>ul,
.wdn-10>li,
.wdn-10>div {
    flex: 0 0 0.5rem;
}
.wd-20,
.wdn-20>ul,
.wdn-20>li,
.wdn-20>div {
    flex: 0 0 1rem;
}
.wd-30,
.wdn-30>ul,
.wdn-30>li,
.wdn-30>div {
    flex: 0 0 1.5rem;
}
.wd-40,
.wdn-40>ul,
.wdn-40>li,
.wdn-40>div {
    flex: 0 0 2rem;
}
.wd-50,
.wdn-50>ul,
.wdn-50>li,
.wdn-50>div {
    flex: 0 0 2.5rem;
}
.wd-60,
.wdn-60>ul,
.wdn-60>li,
.wdn-60>div {
    flex: 0 0 3rem;
}
.wd-70,
.wdn-70>ul,
.wdn-70>li,
.wdn-70>div {
    flex: 0 0 3.5rem;
}
.wd-80,
.wdn-80>ul,
.wdn-80>li,
.wdn-80>div {
    flex: 0 0 4rem;
}
.wd-90,
.wdn-90>ul,
.wdn-90>li,
.wdn-90>div {
    flex: 0 0 4.5rem;
}
.wd-100,
.wdn-100>ul,
.wdn-100>li,
.wdn-100>div {
    flex: 0 0 5rem;
}
.wd-110,
.wdn-110>ul,
.wdn-110>li,
.wdn-110>div {
    flex: 0 0 5.5rem;
}
.wd-120,
.wdn-120>ul,
.wdn-120>li,
.wdn-120>div {
    flex: 0 0 6rem;
}
.wd-130,
.wdn-130>ul,
.wdn-130>li,
.wdn-130>div {
    flex: 0 0 6.5rem;
}
.wd-140,
.wdn-140>ul,
.wdn-140>li,
.wdn-140>div {
    flex: 0 0 7rem;
}
.wd-150,
.wdn-150>ul,
.wdn-150>li,
.wdn-150>div {
    flex: 0 0 7.5rem;
}
.wd-160,
.wdn-160>ul,
.wdn-160>li,
.wdn-160>div {
    flex: 0 0 8rem;
}
.wd-170,
.wdn-170>ul,
.wdn-170>li,
.wdn-170>div {
    flex: 0 0 8.5rem;
}
.wd-180,
.wdn-180>ul,
.wdn-180>li,
.wdn-180>div {
    flex: 0 0 9rem;
}
.wd-190,
.wdn-190>ul,
.wdn-190>li,
.wdn-190>div {
    flex: 0 0 9.5rem;
}
.wd-200,
.wdn-200>ul,
.wdn-200>li,
.wdn-200>div {
    flex: 0 0 10rem;
}
.wd-210,
.wdn-210>ul,
.wdn-210>li,
.wdn-210>div {
    flex: 0 0 10.5rem;
}
.wd-220,
.wdn-220>ul,
.wdn-220>li,
.wdn-220>div {
    flex: 0 0 11rem;
}
.wd-230,
.wdn-230>ul,
.wdn-230>li,
.wdn-230>div {
    flex: 0 0 11.5rem;
}
.wd-240,
.wdn-240>ul,
.wdn-240>li,
.wdn-240>div {
    flex: 0 0 12rem;
}
.wd-250,
.wdn-250>ul,
.wdn-250>li,
.wdn-250>div {
    flex: 0 0 12.5rem;
}
.wd-260,
.wdn-260>ul,
.wdn-260>li,
.wdn-260>div {
    flex: 0 0 13rem;
}
.wd-270,
.wdn-270>ul,
.wdn-270>li,
.wdn-270>div {
    flex: 0 0 13.5rem;
}
.wd-280,
.wdn-280>ul,
.wdn-280>li,
.wdn-280>div {
    flex: 0 0 14rem;
}
.wd-290,
.wdn-290>ul,
.wdn-290>li,
.wdn-290>div {
    flex: 0 0 14.5rem;
}
.wd-300,
.wdn-300>ul,
.wdn-300>li,
.wdn-300>div {
    flex: 0 0 15rem;
}
.wd-310,
.wdn-310>ul,
.wdn-310>li,
.wdn-310>div {
    flex: 0 0 15.5rem;
}
.wd-320,
.wdn-320>ul,
.wdn-320>li,
.wdn-320>div {
    flex: 0 0 16rem;
}
.wd-360,
.wdn-360>ul,
.wdn-360>li,
.wdn-360>div {
    flex: 0 0 18rem;
}
.wd-400,
.wdn-400>ul,
.wdn-400>li,
.wdn-400>div {
    flex: 0 0 20rem;
}
/*padding*/
.pd-t1,
.pdn-t1>ul,
.pdn-t1>li,
.pdn-t1>div {
    padding-top: 0.05rem;
}
.pd-r1,
.pdn-r1>ul,
.pdn-r1>li,
.pdn-r1>div {
    padding-right: 0.05rem;
}
.pd-b1,
.pdn-b1>ul,
.pdn-b1>li,
.pdn-b1>div {
    padding-bottom: 0.05rem;
}
.pd-l1,
.pdn-l1>ul,
.pdn-l1>li,
.pdn-l1>div {
    padding-left: 0.05rem;
}
.pd-a1,
.pdn-a1>ul,
.pdn-a1>li,
.pdn-a1>div {
    padding: 0.05rem;
}
.pd-x1,
.pdn-x1>ul,
.pdn-x1>li,
.pdn-x1>div {
    padding-left: 0.05rem;
    padding-right: 0.05rem;
}
.pd-y1,
.pdn-y1>ul,
.pdn-y1>li,
.pdn-y1>div {
    padding-top: 0.05rem;
    padding-bottom: 0.05rem;
}
.pd-t2,
.pdn-t2>ul,
.pdn-t2>li,
.pdn-t2>div {
    padding-top: 0.1rem;
}
.pd-r2,
.pdn-r2>ul,
.pdn-r2>li,
.pdn-r2>div {
    padding-right: 0.1rem;
}
.pd-b2,
.pdn-b2>ul,
.pdn-b2>li,
.pdn-b2>div {
    padding-bottom: 0.1rem;
}
.pd-l2,
.pdn-l2>ul,
.pdn-l2>li,
.pdn-l2>div {
    padding-left: 0.1rem;
}
.pd-a2,
.pdn-a2>ul,
.pdn-a2>li,
.pdn-a2>div {
    padding: 0.1rem;
}
.pd-x2,
.pdn-x2>ul,
.pdn-x2>li,
.pdn-x2>div {
    padding-left: 0.1rem;
    padding-right: 0.1rem;
}
.pd-y2,
.pdn-y2>ul,
.pdn-y2>li,
.pdn-y2>div {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}
.pd-t3,
.pdn-t3>ul,
.pdn-t3>li,
.pdn-t3>div {
    padding-top: 0.15rem;
}
.pd-r3,
.pdn-r3>ul,
.pdn-r3>li,
.pdn-r3>div {
    padding-right: 0.15rem;
}
.pd-b3,
.pdn-b3>ul,
.pdn-b3>li,
.pdn-b3>div {
    padding-bottom: 0.15rem;
}
.pd-l3,
.pdn-l3>ul,
.pdn-l3>li,
.pdn-l3>div {
    padding-left: 0.15rem;
}
.pd-a3,
.pdn-a3>ul,
.pdn-a3>li,
.pdn-a3>div {
    padding: 0.15rem;
}
.pd-x3,
.pdn-x3>ul,
.pdn-x3>li,
.pdn-x3>div {
    padding-left: 0.15rem;
    padding-right: 0.15rem;
}
.pd-y3,
.pdn-y3>ul,
.pdn-y3>li,
.pdn-y3>div {
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
}
.pd-t4,
.pdn-t4>ul,
.pdn-t4>li,
.pdn-t4>div {
    padding-top: 0.2rem;
}
.pd-r4,
.pdn-r4>ul,
.pdn-r4>li,
.pdn-r4>div {
    padding-right: 0.2rem;
}
.pd-b4,
.pdn-b4>ul,
.pdn-b4>li,
.pdn-b4>div {
    padding-bottom: 0.2rem;
}
.pd-l4,
.pdn-l4>ul,
.pdn-l4>li,
.pdn-l4>div {
    padding-left: 0.2rem;
}
.pd-a4,
.pdn-a4>ul,
.pdn-a4>li,
.pdn-a4>div {
    padding: 0.2rem;
}
.pd-x4,
.pdn-x4>ul,
.pdn-x4>li,
.pdn-x4>div {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}
.pd-y4,
.pdn-y4>ul,
.pdn-y4>li,
.pdn-y4>div {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}
.pd-t5,
.pdn-t5>ul,
.pdn-t5>li,
.pdn-t5>div {
    padding-top: 0.25rem;
}
.pd-r5,
.pdn-r5>ul,
.pdn-r5>li,
.pdn-r5>div {
    padding-right: 0.25rem;
}
.pd-b5,
.pdn-b5>ul,
.pdn-b5>li,
.pdn-b5>div {
    padding-bottom: 0.25rem;
}
.pd-l5,
.pdn-l5>ul,
.pdn-l5>li,
.pdn-l5>div {
    padding-left: 0.25rem;
}
.pd-a5,
.pdn-a5>ul,
.pdn-a5>li,
.pdn-a5>div {
    padding: 0.25rem;
}
.pd-x5,
.pdn-x5>ul,
.pdn-x5>li,
.pdn-x5>div {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}
.pd-y5,
.pdn-y5>ul,
.pdn-y5>li,
.pdn-y5>div {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.pd-t10,
.pdn-t10>ul,
.pdn-t10>li,
.pdn-t10>div {
    padding-top: 0.5rem;
}
.pd-r10,
.pdn-r10>ul,
.pdn-r10>li,
.pdn-r10>div {
    padding-right: 0.5rem;
}
.pd-b10,
.pdn-b10>ul,
.pdn-b10>li,
.pdn-b10>div {
    padding-bottom: 0.5rem;
}
.pd-l10,
.pdn-l10>ul,
.pdn-l10>li,
.pdn-l10>div {
    padding-left: 0.5rem;
}
.pd-a10,
.pdn-a10>ul,
.pdn-a10>li,
.pdn-a10>div {
    padding: 0.5rem;
}
.pd-x10,
.pdn-x10>ul,
.pdn-x10>li,
.pdn-x10>div {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.pd-y10,
.pdn-y10>ul,
.pdn-y10>li,
.pdn-y10>div {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.pd-t15,
.pdn-t15>ul,
.pdn-t15>li,
.pdn-t15>div {
    padding-top: 0.75rem;
}
.pd-r15,
.pdn-r15>ul,
.pdn-r15>li,
.pdn-r15>div {
    padding-right: 0.75rem;
}
.pd-b15,
.pdn-b15>ul,
.pdn-b15>li,
.pdn-b15>div {
    padding-bottom: 0.75rem;
}
.pd-l15,
.pdn-l15>ul,
.pdn-l15>li,
.pdn-l15>div {
    padding-left: 0.75rem;
}
.pd-a15,
.pdn-a15>ul,
.pdn-a15>li,
.pdn-a15>div {
    padding: 0.75rem;
}
.pd-x15,
.pdn-x15>ul,
.pdn-x15>li,
.pdn-x15>div {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
.pd-y15,
.pdn-y15>ul,
.pdn-y15>li,
.pdn-y15>div {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
.pd-t20,
.pdn-t20>ul,
.pdn-t20>li,
.pdn-t20>div {
    padding-top: 1rem;
}
.pd-r20,
.pdn-r20>ul,
.pdn-r20>li,
.pdn-r20>div {
    padding-right: 1rem;
}
.pd-b20,
.pdn-b20>ul,
.pdn-b20>li,
.pdn-b20>div {
    padding-bottom: 1rem;
}
.pd-l20,
.pdn-l20>ul,
.pdn-l20>li,
.pdn-l20>div {
    padding-left: 1rem;
}
.pd-a20,
.pdn-a20>ul,
.pdn-a20>li,
.pdn-a20>div {
    padding: 1rem;
}
.pd-x20,
.pdn-x20>ul,
.pdn-x20>li,
.pdn-x20>div {
    padding-left: 1rem;
    padding-right: 1rem;
}
.pd-y20,
.pdn-y20>ul,
.pdn-y20>li,
.pdn-y20>div {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.pd-t25,
.pdn-t25>ul,
.pdn-t25>li,
.pdn-t25>div {
    padding-top: 1.25rem;
}
.pd-r25,
.pdn-r25>ul,
.pdn-r25>li,
.pdn-r25>div {
    padding-right: 1.25rem;
}
.pd-b25,
.pdn-b25>ul,
.pdn-b25>li,
.pdn-b25>div {
    padding-bottom: 1.25rem;
}
.pd-l25,
.pdn-l25>ul,
.pdn-l25>li,
.pdn-l25>div {
    padding-left: 1.25rem;
}
.pd-a25,
.pdn-a25>ul,
.pdn-a25>li,
.pdn-a25>div {
    padding: 1.25rem;
}
.pd-x25,
.pdn-x25>ul,
.pdn-x25>li,
.pdn-x25>div {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
.pd-y25,
.pdn-y25>ul,
.pdn-y25>li,
.pdn-y25>div {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}
.pd-t30,
.pdn-t30>ul,
.pdn-t30>li,
.pdn-t30>div {
    padding-top: 1.5rem;
}
.pd-r30,
.pdn-r30>ul,
.pdn-r30>li,
.pdn-r30>div {
    padding-right: 1.5rem;
}
.pd-b30,
.pdn-b30>ul,
.pdn-b30>li,
.pdn-b30>div {
    padding-bottom: 1.5rem;
}
.pd-l30,
.pdn-l30>ul,
.pdn-l30>li,
.pdn-l30>div {
    padding-left: 1.5rem;
}
.pd-a30,
.pdn-a30>ul,
.pdn-a30>li,
.pdn-a30>div {
    padding: 1.5rem;
}
.pd-x30,
.pdn-x30>ul,
.pdn-x30>li,
.pdn-x30>div {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.pd-y30,
.pdn-y30>ul,
.pdn-y30>li,
.pdn-y30>div {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.pd-t40,
.pdn-t40>ul,
.pdn-t40>li,
.pdn-t40>div {
    padding-top: 2rem;
}
.pd-r40,
.pdn-r40>ul,
.pdn-r40>li,
.pdn-r40>div {
    padding-right: 2rem;
}
.pd-b40,
.pdn-b40>ul,
.pdn-b40>li,
.pdn-b40>div {
    padding-bottom: 2rem;
}
.pd-l40,
.pdn-l40>ul,
.pdn-l40>li,
.pdn-l40>div {
    padding-left: 2rem;
}
.pd-a40,
.pdn-a40>ul,
.pdn-a40>li,
.pdn-a40>div {
    padding: 2rem;
}
.pd-x40,
.pdn-x40>ul,
.pdn-x40>li,
.pdn-x40>div {
    padding-left: 2rem;
    padding-right: 2rem;
}
.pd-y40,
.pdn-y40>ul,
.pdn-y40>li,
.pdn-y40>div {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.pd-t50,
.pdn-t50>ul,
.pdn-t50>li,
.pdn-t50>div {
    padding-top: 2.5rem;
}
.pd-r50,
.pdn-r50>ul,
.pdn-r50>li,
.pdn-r50>div {
    padding-right: 2.5rem;
}
.pd-b50,
.pdn-b50>ul,
.pdn-b50>li,
.pdn-b50>div {
    padding-bottom: 2.5rem;
}
.pd-l50,
.pdn-l50>ul,
.pdn-l50>li,
.pdn-l50>div {
    padding-left: 2.5rem;
}
.pd-a50,
.pdn-a50>ul,
.pdn-a50>li,
.pdn-a50>div {
    padding: 2.5rem;
}
.pd-x50,
.pdn-x50>ul,
.pdn-x50>li,
.pdn-x50>div {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
.pd-y50,
.pdn-y50>ul,
.pdn-y50>li,
.pdn-y50>div {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.pd-t60,
.pdn-t60>ul,
.pdn-t60>li,
.pdn-t60>div {
    padding-top: 3rem;
}
.pd-r60,
.pdn-r60>ul,
.pdn-r60>li,
.pdn-r60>div {
    padding-right: 3rem;
}
.pd-b60,
.pdn-b60>ul,
.pdn-b60>li,
.pdn-b60>div {
    padding-bottom: 3rem;
}
.pd-l60,
.pdn-l60>ul,
.pdn-l60>li,
.pdn-l60>div {
    padding-left: 3rem;
}
.pd-a60,
.pdn-a60>ul,
.pdn-a60>li,
.pdn-a60>div {
    padding: 3rem;
}
.pd-x60,
.pdn-x60>ul,
.pdn-x60>li,
.pdn-x60>div {
    padding-left: 3rem;
    padding-right: 3rem;
}
.pd-y60,
.pdn-y60>ul,
.pdn-y60>li,
.pdn-y60>div {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.pd-t0,
.pdn-t0>ul,
.pdn-t0>li,
.pdn-t0>div {
    padding-top: 0;
}
.pd-r0,
.pdn-r0>ul,
.pdn-r0>li,
.pdn-r0>div {
    padding-right: 0;
}
.pd-b0,
.pdn-b0>ul,
.pdn-b0>li,
.pdn-b0>div {
    padding-bottom: 0;
}
.pd-l0,
.pdn-l0>ul,
.pdn-l0>li,
.pdn-l0>div {
    padding-left: 0;
}
.pd-a0,
.pdn-a0>ul,
.pdn-a0>li,
.pdn-a0>div {
    padding: 0;
}
.pd-x0,
.pdn-x0>ul,
.pdn-x0>li,
.pdn-x0>div {
    padding-left: 0;
    padding-right: 0;
}
.pd-y0,
.pdn-y0>ul,
.pdn-y0>li,
.pdn-y0>div {
    padding-top: 0;
    padding-bottom: 0;
}
/*margin*/
.mg-t1,
.mgn-t1>ul,
.mgn-t1>li,
.mgn-t1>div {
    margin-top: 0.05rem;
}
.mg-r1,
.mgn-r1>ul,
.mgn-r1>li,
.mgn-r1>div {
    margin-right: 0.05rem;
}
.mg-b1,
.mgn-b1>ul,
.mgn-b1>li,
.mgn-b1>div {
    margin-bottom: 0.05rem;
}
.mg-l1,
.mgn-l1>ul,
.mgn-l1>li,
.mgn-l1>div {
    margin-left: 0.05rem;
}
.mg-a1,
.mgn-a1>ul,
.mgn-a1>li,
.mgn-a1>div {
    margin: 0.05rem;
}
.mg-x1,
.mgn-x1>ul,
.mgn-x1>li,
.mgn-x1>div {
    margin-left: 0.05rem;
    margin-right: 0.05rem;
}
.mg-y1,
.mgn-y1>ul,
.mgn-y1>li,
.mgn-y1>div {
    margin-top: 0.05rem;
    margin-bottom: 0.05rem;
}
.mg-t2,
.mgn-t2>ul,
.mgn-t2>li,
.mgn-t2>div {
    margin-top: 0.1rem;
}
.mg-r2,
.mgn-r2>ul,
.mgn-r2>li,
.mgn-r2>div {
    margin-right: 0.1rem;
}
.mg-b2,
.mgn-b2>ul,
.mgn-b2>li,
.mgn-b2>div {
    margin-bottom: 0.1rem;
}
.mg-l2,
.mgn-l2>ul,
.mgn-l2>li,
.mgn-l2>div {
    margin-left: 0.1rem;
}
.mg-a2,
.mgn-a2>ul,
.mgn-a2>li,
.mgn-a2>div {
    margin: 0.1rem;
}
.mg-x2,
.mgn-x2>ul,
.mgn-x2>li,
.mgn-x2>div {
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}
.mg-y2,
.mgn-y2>ul,
.mgn-y2>li,
.mgn-y2>div {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}
.mg-t3,
.mgn-t3>ul,
.mgn-t3>li,
.mgn-t3>div {
    margin-top: 0.15rem;
}
.mg-r3,
.mgn-r3>ul,
.mgn-r3>li,
.mgn-r3>div {
    margin-right: 0.15rem;
}
.mg-b3,
.mgn-b3>ul,
.mgn-b3>li,
.mgn-b3>div {
    margin-bottom: 0.15rem;
}
.mg-l3,
.mgn-l3>ul,
.mgn-l3>li,
.mgn-l3>div {
    margin-left: 0.15rem;
}
.mg-a3,
.mgn-a3>ul,
.mgn-a3>li,
.mgn-a3>div {
    margin: 0.15rem;
}
.mg-x3,
.mgn-x3>ul,
.mgn-x3>li,
.mgn-x3>div {
    margin-left: 0.15rem;
    margin-right: 0.15rem;
}
.mg-y3,
.mgn-y3>ul,
.mgn-y3>li,
.mgn-y3>div {
    margin-top: 0.15rem;
    margin-bottom: 0.15rem;
}
.mg-t4,
.mgn-t4>ul,
.mgn-t4>li,
.mgn-t4>div {
    margin-top: 0.2rem;
}
.mg-r4,
.mgn-r4>ul,
.mgn-r4>li,
.mgn-r4>div {
    margin-right: 0.2rem;
}
.mg-b4,
.mgn-b4>ul,
.mgn-b4>li,
.mgn-b4>div {
    margin-bottom: 0.2rem;
}
.mg-l4,
.mgn-l4>ul,
.mgn-l4>li,
.mgn-l4>div {
    margin-left: 0.2rem;
}
.mg-a4,
.mgn-a4>ul,
.mgn-a4>li,
.mgn-a4>div {
    margin: 0.2rem;
}
.mg-x4,
.mgn-x4>ul,
.mgn-x4>li,
.mgn-x4>div {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}
.mg-y4,
.mgn-y4>ul,
.mgn-y4>li,
.mgn-y4>div {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}
.mg-t5,
.mgn-t5>ul,
.mgn-t5>li,
.mgn-t5>div {
    margin-top: 0.25rem;
}
.mg-r5,
.mgn-r5>ul,
.mgn-r5>li,
.mgn-r5>div {
    margin-right: 0.25rem;
}
.mg-b5,
.mgn-b5>ul,
.mgn-b5>li,
.mgn-b5>div {
    margin-bottom: 0.25rem;
}
.mg-l5,
.mgn-l5>ul,
.mgn-l5>li,
.mgn-l5>div {
    margin-left: 0.25rem;
}
.mg-a5,
.mgn-a5>ul,
.mgn-a5>li,
.mgn-a5>div {
    margin: 0.25rem;
}
.mg-x5,
.mgn-x5>ul,
.mgn-x5>li,
.mgn-x5>div {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}
.mg-y5,
.mgn-y5>ul,
.mgn-y5>li,
.mgn-y5>div {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}
.mg-t10,
.mgn-t10>ul,
.mgn-t10>li,
.mgn-t10>div {
    margin-top: 0.5rem;
}
.mg-r10,
.mgn-r10>ul,
.mgn-r10>li,
.mgn-r10>div {
    margin-right: 0.5rem;
}
.mg-b10,
.mgn-b10>ul,
.mgn-b10>li,
.mgn-b10>div {
    margin-bottom: 0.5rem;
}
.mg-l10,
.mgn-l10>ul,
.mgn-l10>li,
.mgn-l10>div {
    margin-left: 0.5rem;
}
.mg-a10,
.mgn-a10>ul,
.mgn-a10>li,
.mgn-a10>div {
    margin: 0.5rem;
}
.mg-x10,
.mgn-x10>ul,
.mgn-x10>li,
.mgn-x10>div {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.mg-y10,
.mgn-y10>ul,
.mgn-y10>li,
.mgn-y10>div {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.mg-t15,
.mgn-t15>ul,
.mgn-t15>li,
.mgn-t15>div {
    margin-top: 0.75rem;
}
.mg-r15,
.mgn-r15>ul,
.mgn-r15>li,
.mgn-r15>div {
    margin-right: 0.75rem;
}
.mg-b15,
.mgn-b15>ul,
.mgn-b15>li,
.mgn-b15>div {
    margin-bottom: 0.75rem;
}
.mg-l15,
.mgn-l15>ul,
.mgn-l15>li,
.mgn-l15>div {
    margin-left: 0.75rem;
}
.mg-a15,
.mgn-a15>ul,
.mgn-a15>li,
.mgn-a15>div {
    margin: 0.75rem;
}
.mg-x15,
.mgn-x15>ul,
.mgn-x15>li,
.mgn-x15>div {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}
.mg-y15,
.mgn-y15>ul,
.mgn-y15>li,
.mgn-y15>div {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}
.mg-t20,
.mgn-t20>ul,
.mgn-t20>li,
.mgn-t20>div {
    margin-top: 1rem;
}
.mg-r20,
.mgn-r20>ul,
.mgn-r20>li,
.mgn-r20>div {
    margin-right: 1rem;
}
.mg-b20,
.mgn-b20>ul,
.mgn-b20>li,
.mgn-b20>div {
    margin-bottom: 1rem;
}
.mg-l20,
.mgn-l20>ul,
.mgn-l20>li,
.mgn-l20>div {
    margin-left: 1rem;
}
.mg-a20,
.mgn-a20>ul,
.mgn-a20>li,
.mgn-a20>div {
    margin: 1rem;
}
.mg-x20,
.mgn-x20>ul,
.mgn-x20>li,
.mgn-x20>div {
    margin-left: 1rem;
    margin-right: 1rem;
}
.mg-y20,
.mgn-y20>ul,
.mgn-y20>li,
.mgn-y20>div {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.mg-t25,
.mgn-t25>ul,
.mgn-t25>li,
.mgn-t25>div {
    margin-top: 1.25rem;
}
.mg-r25,
.mgn-r25>ul,
.mgn-r25>li,
.mgn-r25>div {
    margin-right: 1.25rem;
}
.mg-b25,
.mgn-b25>ul,
.mgn-b25>li,
.mgn-b25>div {
    margin-bottom: 1.25rem;
}
.mg-l25,
.mgn-l25>ul,
.mgn-l25>li,
.mgn-l25>div {
    margin-left: 1.25rem;
}
.mg-a25,
.mgn-a25>ul,
.mgn-a25>li,
.mgn-a25>div {
    margin: 1.25rem;
}
.mg-x25,
.mgn-x25>ul,
.mgn-x25>li,
.mgn-x25>div {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}
.mg-y25,
.mgn-y25>ul,
.mgn-y25>li,
.mgn-y25>div {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}
.mg-t30,
.mgn-t30>ul,
.mgn-t30>li,
.mgn-t30>div {
    margin-top: 1.5rem;
}
.mg-r30,
.mgn-r30>ul,
.mgn-r30>li,
.mgn-r30>div {
    margin-right: 1.5rem;
}
.mg-b30,
.mgn-b30>ul,
.mgn-b30>li,
.mgn-b30>div {
    margin-bottom: 1.5rem;
}
.mg-l30,
.mgn-l30>ul,
.mgn-l30>li,
.mgn-l30>div {
    margin-left: 1.5rem;
}
.mg-a30,
.mgn-a30>ul,
.mgn-a30>li,
.mgn-a30>div {
    margin: 1.5rem;
}
.mg-x30,
.mgn-x30>ul,
.mgn-x30>li,
.mgn-x30>div {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.mg-y30,
.mgn-y30>ul,
.mgn-y30>li,
.mgn-y30>div {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.mg-t40,
.mgn-t40>ul,
.mgn-t40>li,
.mgn-t40>div {
    margin-top: 2rem;
}
.mg-r40,
.mgn-r40>ul,
.mgn-r40>li,
.mgn-r40>div {
    margin-right: 2rem;
}
.mg-b40,
.mgn-b40>ul,
.mgn-b40>li,
.mgn-b40>div {
    margin-bottom: 2rem;
}
.mg-l40,
.mgn-l40>ul,
.mgn-l40>li,
.mgn-l40>div {
    margin-left: 2rem;
}
.mg-a40,
.mgn-a40>ul,
.mgn-a40>li,
.mgn-a40>div {
    margin: 2rem;
}
.mg-x40,
.mgn-x40>ul,
.mgn-x40>li,
.mgn-x40>div {
    margin-left: 2rem;
    margin-right: 2rem;
}
.mg-y40,
.mgn-y40>ul,
.mgn-y40>li,
.mgn-y40>div {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.mg-t50,
.mgn-t50>ul,
.mgn-t50>li,
.mgn-t50>div {
    margin-top: 2.5rem;
}
.mg-r50,
.mgn-r50>ul,
.mgn-r50>li,
.mgn-r50>div {
    margin-right: 2.5rem;
}
.mg-b50,
.mgn-b50>ul,
.mgn-b50>li,
.mgn-b50>div {
    margin-bottom: 2.5rem;
}
.mg-l50,
.mgn-l50>ul,
.mgn-l50>li,
.mgn-l50>div {
    margin-left: 2.5rem;
}
.mg-a50,
.mgn-a50>ul,
.mgn-a50>li,
.mgn-a50>div {
    margin: 2.5rem;
}
.mg-x50,
.mgn-x50>ul,
.mgn-x50>li,
.mgn-x50>div {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}
.mg-y50,
.mgn-y50>ul,
.mgn-y50>li,
.mgn-y50>div {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
.mg-t60,
.mgn-t60>ul,
.mgn-t60>li,
.mgn-t60>div {
    margin-top: 3rem;
}
.mg-r60,
.mgn-r60>ul,
.mgn-r60>li,
.mgn-r60>div {
    margin-right: 3rem;
}
.mg-b60,
.mgn-b60>ul,
.mgn-b60>li,
.mgn-b60>div {
    margin-bottom: 3rem;
}
.mg-l60,
.mgn-l60>ul,
.mgn-l60>li,
.mgn-l60>div {
    margin-left: 3rem;
}
.mg-a60,
.mgn-a60>ul,
.mgn-a60>li,
.mgn-a60>div {
    margin: 3rem;
}
.mg-x60,
.mgn-x60>ul,
.mgn-x60>li,
.mgn-x60>div {
    margin-left: 3rem;
    margin-right: 3rem;
}
.mg-y60,
.mgn-y60>ul,
.mgn-y60>li,
.mgn-y60>div {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.mg-t0,
.mgn-t0>ul,
.mgn-t0>li,
.mgn-t0>div {
    margin-top: 0;
}
.mg-r0,
.mgn-r0>ul,
.mgn-r0>li,
.mgn-r0>div {
    margin-right: 0;
}
.mg-b0,
.mgn-b0>ul,
.mgn-b0>li,
.mgn-b0>div {
    margin-bottom: 0;
}
.mg-l0,
.mgn-l0>ul,
.mgn-l0>li,
.mgn-l0>div {
    margin-left: 0;
}
.mg-a0,
.mgn-a0>ul,
.mgn-a0>li,
.mgn-a0>div {
    margin: 0;
}
.mg-x0,
.mgn-x0>ul,
.mgn-x0>li,
.mgn-x0>div {
    margin-left: 0;
    margin-right: 0;
}
.mg-y0,
.mgn-y0>ul,
.mgn-y0>li,
.mgn-y0>div {
    margin-top: 0;
    margin-bottom: 0;
}
/*margin reverse*/
.mgr-x1 {
    margin-left: -0.05rem;
    margin-right: -0.05rem;
}
.mgr-x2 {
    margin-left: -0.1rem;
    margin-right: -0.1rem;
}
.mgr-x3 {
    margin-left: -0.15rem;
    margin-right: -0.15rem;
}
.mgr-x4 {
    margin-left: -0.2rem;
    margin-right: -0.2rem;
}
.mgr-x5 {
    margin-left: -0.25rem;
    margin-right: -0.25rem;
}
.mgr-x10 {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}
.mgr-x15 {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}
.mgr-x20 {
    margin-left: -1rem;
    margin-right: -1rem;
}
.mgr-x25 {
    margin-left: -1.25rem;
    margin-right: -1.25rem;
}
.mgr-x30 {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}
.mgr-x40 {
    margin-left: -2rem;
    margin-right: -2rem;
}
.mgr-x50 {
    margin-left: -2.5rem;
    margin-right: -2.5rem;
}
.mgr-x60 {
    margin-left: -3rem;
    margin-right: -3rem;
}
/*height*/
.ht-10 {
    height: 0.5rem;
}
.ht-15 {
    height: 0.75rem;
}
.ht-20 {
    height: 1rem;
}
.ht-25 {
    height: 1.25rem;
}
.ht-30 {
    height: 1.5rem;
}
.ht-35 {
    height: 1.75rem;
}
.ht-40 {
    height: 2rem;
}
.ht-45 {
    height: 2.25rem;
}
.ht-50 {
    height: 2.5rem;
}
.ht-55 {
    height: 2.75rem;
}
.ht-60 {
    height: 3rem;
}
/*line-height*/
.lh-10 {
    line-height: 0.5rem;
}
.lh-15 {
    line-height: 0.75rem;
}
.lh-20 {
    line-height: 1rem;
}
.lh-25 {
    line-height: 1.25rem;
}
.lh-30 {
    line-height: 1.5rem;
}
.lh-35 {
    line-height: 1.75rem;
}
.lh-40 {
    line-height: 2rem;
}
.lh-45 {
    line-height: 2.25rem;
}
.lh-50 {
    line-height: 2.5rem;
}
.lh-55 {
    line-height: 2.75rem;
}
.lh-60 {
    line-height: 3rem;
}
/*font-size*/
.fs-12 {
    font-size: 0.6rem;
}
.fs-14 {
    font-size: 0.7rem;
}
.fs-16 {
    font-size: 0.8rem;
}
.fs-18 {
    font-size: 0.9rem;
}
.fs-20 {
    font-size: 1rem;
}
.fs-22 {
    font-size: 1.1rem;
}
.fs-24 {
    font-size: 1.2rem;
}
.fs-26 {
    font-size: 1.3rem;
}
.fs-28 {
    font-size: 1.4rem;
}
.fs-30 {
    font-size: 1.5rem;
}
/*border*/
.bd-t1 {
    border-top: 1px solid #dddddd;
}
.bd-r1 {
    border-right: 1px solid #dddddd;
}
.bd-b1 {
    border-bottom: 1px solid #dddddd;
}
.bd-l1 {
    border-left: 1px solid #dddddd;
}
.bd-a1 {
    border: 1px solid #dddddd;
}
.bd-x1 {
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}
.bd-y1 {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}
/*radius*/
.rd-a5 {
    border-radius: 0.25rem;
}
.rd-l5 {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
.rd-r5 {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
.rd-t5 {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
.rd-b5 {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
.rd-a10 {
    border-radius: 0.5rem;
}
.rd-l10 {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.rd-r10 {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.rd-t10 {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.rd-b10 {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.rd-a15 {
    border-radius: 0.75rem;
}
.rd-l15 {
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
}
.rd-r15 {
    border-top-right-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
}
.rd-t15 {
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
}
.rd-b15 {
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
}
.rd-full {
    border-radius: 50%;
}
/*color*/
.cl-333 {
    color: #333333;
}
.cl-555 {
    color: #555;
}
.cl-777 {
    color: #777;
}
.cl-999 {
    color: #999;
}
/*background*/
.bg-ccc {
    background-color: #cccccc;
}
.bg-ddd {
    background-color: #dddddd;
}
.bg-eee {
    background-color: #eeeeee;
}
.bg-fff {
    background-color: #ffffff;
}
/*img*/
.img-auto {
    display: inline-block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
.img-full {
    display: inline-block;
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.img-thumb {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 0.25rem;
    background-color: #ffffff;
    border-radius: 0.25rem;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
/*position*/
.pr {
    position: relative;
}
.pa {
    position: absolute;
}
.pf {
    position: fixed;
}
/*text*/
.tl {
    justify-content: flex-start;
}
.tc {
    justify-content: center;
}
.tr {
    justify-content: flex-end;
}
.tt {
    align-content: flex-start;
}
.tm {
    align-content: center;
}
.tb {
    align-content: flex-end;
}
.cm {
    justify-content: center;
    align-content: center;
}
/*line*/
.line1 {
    height: 1px;
    background: #dddddd;
}
.line2 {
    height: 2px;
    background: #dddddd;
}
.line3 {
    height: 3px;
    background: #dddddd;
}
.line4 {
    height: 4px;
    background: #dddddd;
}
.line5 {
    height: 5px;
    background: #dddddd;
}
/*other*/
.wbr {
    word-break: break-all;
    word-wrap: break-word;
}
.show {
    display: block;
}
.hide {
    display: none;
}
.mask {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9000;
}
.tip {
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 14rem;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    text-align: center;
    z-index: 9000;
}
.popup {
    display: block;
    width: 80%;
    min-height: 6rem;
    border-radius: 0.25rem;
    background-color: #ffffff;
}
.fixed-foot {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 1000;
}
.fixed-head {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 1000;
}
.xcenter {
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: 100%;
    height: 100%;
}
.ycenter {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    width: 100%;
    height: 100%;
}
.xycenter {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}
