@charset "utf-8";
/********************
名称: Flex.css
作者: 曾宪明
创建: 2015.12.28
修改: 2017.06.09
版本: v5.0
********************/
/*app*/
#app {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-width: 16rem;
    max-width: 24rem;
    margin: 0 auto;
}
.apphead {
    flex: 0 0 auto;
    min-height: 1rem;
}
.appfoot {
    flex: 0 0 auto;
    min-height: 1rem;
    text-align: center;
}
.appmain {
    flex: 1 1 auto;
}
/*flex core*/
.flex {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
}
.flex>ul,
.flex>li,
.flex>div {
    flex: 0 0 auto;
}
.flex-line {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
}
.flex-line>ul,
.flex-line>li,
.flex-line>div {
    flex: 0 0 100%;
}
.flex-grid {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
}
.flex-grid>ul,
.flex-grid>li,
.flex-grid>div {
    flex: 1 1 auto;
}
.flex-grid1,
.flex-grid2,
.flex-grid3,
.flex-grid4,
.flex-grid5,
.flex-grid6,
.flex-grid7,
.flex-grid8,
.flex-grid9,
.flex-grid10 {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
}
.flex-grid1>ul,
.flex-grid1>li,
.flex-grid1>div {
    flex: 0 0 100%;
    overflow: hidden;
}
.flex-grid2>ul,
.flex-grid2>li,
.flex-grid2>div {
    flex: 0 0 50%;
    overflow: hidden;
}
.flex-grid3>ul,
.flex-grid3>li,
.flex-grid3>div {
    flex: 0 0 33.333333%;
    overflow: hidden;
}
.flex-grid4>ul,
.flex-grid4>li,
.flex-grid4>div {
    flex: 0 0 25%;
    overflow: hidden;
}
.flex-grid5>ul,
.flex-grid5>li,
.flex-grid5>div {
    flex: 0 0 20%;
    overflow: hidden;
}
.flex-grid6>ul,
.flex-grid6>li,
.flex-grid6>div {
    flex: 0 0 16.666667%;
    overflow: hidden;
}
.flex-grid7>ul,
.flex-grid7>li,
.flex-grid7>div {
    flex: 0 0 14.285714%;
    overflow: hidden;
}
.flex-grid8>ul,
.flex-grid8>li,
.flex-grid8>div {
    flex: 0 0 12.5%;
    overflow: hidden;
}
.flex-grid9>ul,
.flex-grid9>li,
.flex-grid9>div {
    flex: 0 0 11.111111%;
    overflow: hidden;
}
.flex-grid10>ul,
.flex-grid10>li,
.flex-grid10>div {
    flex: 0 0 10%;
    overflow: hidden;
}
/*flex-x*/
.flex-left {
    justify-content: flex-start;
}
.flex-right {
    justify-content: flex-end;
}
.flex-center {
    justify-content: center;
}
.flex-between {
    justify-content: space-between;
}
.flex-around {
    justify-content: space-around;
}
/*flex-y*/
.flex-stretch {
    align-items: stretch;
}
.flex-top {
    align-items: flex-start;
}
.flex-bottom {
    align-items: flex-end;
}
.flex-middle {
    align-items: center;
}
.flex-baseline {
    align-items: baseline;
}
/*flex-xz*/
.flexz-stretch {
    align-content: stretch;
}
.flexz-start {
    align-content: flex-start;
}
.flexz-end {
    align-content: flex-end;
}
.flexz-center {
    align-content: center;
}
.flexz-between {
    align-content: space-between;
}
.flexz-around {
    align-content: space-around;
}
/*flex-yz*/
.flexz-auto {
    align-self: auto;
}
.flexz-stretch {
    align-self: stretch;
}
.flexz-top {
    align-self: flex-start;
}
.flexz-bottom {
    align-self: flex-end;
}
.flexz-middle {
    align-self: center;
}
.flexz-baseline {
    align-self: baseline;
}
/*width*/
.col-auto {
    flex: 0 0 auto;
}
.col-free {
    flex: 1 1 auto;
}
.col-10 {
    flex: 0 0 0.5rem;
}
.col-20 {
    flex: 0 0 1rem;
}
.col-30 {
    flex: 0 0 1.5rem;
}
.col-40 {
    flex: 0 0 2rem;
}
.col-50 {
    flex: 0 0 2.5rem;
}
.col-60 {
    flex: 0 0 3rem;
}
.col-70 {
    flex: 0 0 3.5rem;
}
.col-80 {
    flex: 0 0 4rem;
}
.col-90 {
    flex: 0 0 4.5rem;
}
.col-100 {
    flex: 0 0 5rem;
}
.col-110 {
    flex: 0 0 5.5rem;
}
.col-120 {
    flex: 0 0 6rem;
}
.col-130 {
    flex: 0 0 6.5rem;
}
.col-140 {
    flex: 0 0 7rem;
}
.col-150 {
    flex: 0 0 7.5rem;
}
.col-160 {
    flex: 0 0 8rem;
}
.col-170 {
    flex: 0 0 8.5rem;
}
.col-180 {
    flex: 0 0 9rem;
}
.col-190 {
    flex: 0 0 9.5rem;
}
.col-200 {
    flex: 0 0 10rem;
}
.col-210 {
    flex: 0 0 10.5rem;
}
.col-220 {
    flex: 0 0 11rem;
}
.col-230 {
    flex: 0 0 11.5rem;
}
.col-240 {
    flex: 0 0 12rem;
}
.col-250 {
    flex: 0 0 12.5rem;
}
.col-260 {
    flex: 0 0 13rem;
}
.col-270 {
    flex: 0 0 13.5rem;
}
.col-280 {
    flex: 0 0 14rem;
}
.col-290 {
    flex: 0 0 14.5rem;
}
.col-300 {
    flex: 0 0 15rem;
}
.col-310 {
    flex: 0 0 15.5rem;
}
.col-320 {
    flex: 0 0 16rem;
}
/*height*/
.row-10 {
    height: 0.5rem;
}
.row-15 {
    height: 0.75rem;
}
.row-20 {
    height: 1rem;
}
.row-25 {
    height: 1.25rem;
}
.row-30 {
    height: 1.5rem;
}
.row-35 {
    height: 1.75rem;
}
.row-40 {
    height: 2rem;
}
.row-45 {
    height: 2.25rem;
}
.row-50 {
    height: 2.5rem;
}
.row-55 {
    height: 2.75rem;
}
.row-60 {
    height: 3rem;
}
.row-65 {
    height: 3.25rem;
}
.row-70 {
    height: 3.5rem;
}
.row-75 {
    height: 3.75rem;
}
.row-80 {
    height: 4rem;
}
.row-85 {
    height: 4.25rem;
}
.row-90 {
    height: 4.5rem;
}
.row-95 {
    height: 4.75rem;
}
.row-100 {
    height: 5rem;
}
/*line-height*/
.lht-10 {
    line-height: 0.5rem;
}
.lht-15 {
    line-height: 0.75rem;
}
.lht-20 {
    line-height: 1rem;
}
.lht-25 {
    line-height: 1.25rem;
}
.lht-30 {
    line-height: 1.5rem;
}
.lht-35 {
    line-height: 1.75rem;
}
.lht-40 {
    line-height: 2rem;
}
.lht-45 {
    line-height: 2.25rem;
}
.lht-50 {
    line-height: 2.5rem;
}
/*padding*/
.pd-t5 {
    padding-top: 0.25rem;
}
.pd-r5 {
    padding-right: 0.25rem;
}
.pd-b5 {
    padding-bottom: 0.25rem;
}
.pd-l5 {
    padding-left: 0.25rem;
}
.pd-a5 {
    padding: 0.25rem;
}
.pd-x5 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}
.pd-y5 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.pd-t10 {
    padding-top: 0.5rem;
}
.pd-r10 {
    padding-right: 0.5rem;
}
.pd-b10 {
    padding-bottom: 0.5rem;
}
.pd-l10 {
    padding-left: 0.5rem;
}
.pd-a10 {
    padding: 0.5rem;
}
.pd-x10 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.pd-y10 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.pd-t15 {
    padding-top: 0.75rem;
}
.pd-r15 {
    padding-right: 0.75rem;
}
.pd-b15 {
    padding-bottom: 0.75rem;
}
.pd-l15 {
    padding-left: 0.75rem;
}
.pd-a15 {
    padding: 0.75rem;
}
.pd-x15 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
.pd-y15 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
.pd-t20 {
    padding-top: 1rem;
}
.pd-r20 {
    padding-right: 1rem;
}
.pd-b20 {
    padding-bottom: 1rem;
}
.pd-l20 {
    padding-left: 1rem;
}
.pd-a20 {
    padding: 1rem;
}
.pd-x20 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.pd-y20 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.pd-t25 {
    padding-top: 1.25rem;
}
.pd-r25 {
    padding-right: 1.25rem;
}
.pd-b25 {
    padding-bottom: 1.25rem;
}
.pd-l25 {
    padding-left: 1.25rem;
}
.pd-a25 {
    padding: 1.25rem;
}
.pd-x25 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
.pd-y25 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}
.pd-t30 {
    padding-top: 1.5rem;
}
.pd-r30 {
    padding-right: 1.5rem;
}
.pd-b30 {
    padding-bottom: 1.5rem;
}
.pd-l30 {
    padding-left: 1.5rem;
}
.pd-a30 {
    padding: 1.5rem;
}
.pd-x30 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.pd-y30 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
/*margin*/
.mg-t5 {
    margin-top: 0.25rem;
}
.mg-r5 {
    margin-right: 0.25rem;
}
.mg-b5 {
    margin-bottom: 0.25rem;
}
.mg-l5 {
    margin-left: 0.25rem;
}
.mg-a5 {
    margin: 0.25rem;
}
.mg-x5 {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}
.mg-y5 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}
.mg-t10 {
    margin-top: 0.5rem;
}
.mg-r10 {
    margin-right: 0.5rem;
}
.mg-b10 {
    margin-bottom: 0.5rem;
}
.mg-l10 {
    margin-left: 0.5rem;
}
.mg-a10 {
    margin: 0.5rem;
}
.mg-x10 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.mg-y10 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.mg-t15 {
    margin-top: 0.75rem;
}
.mg-r15 {
    margin-right: 0.75rem;
}
.mg-b15 {
    margin-bottom: 0.75rem;
}
.mg-l15 {
    margin-left: 0.75rem;
}
.mg-a15 {
    margin: 0.75rem;
}
.mg-x15 {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}
.mg-y15 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}
.mg-t20 {
    margin-top: 1rem;
}
.mg-r20 {
    margin-right: 1rem;
}
.mg-b20 {
    margin-bottom: 1rem;
}
.mg-l20 {
    margin-left: 1rem;
}
.mg-a20 {
    margin: 1rem;
}
.mg-x20 {
    margin-left: 1rem;
    margin-right: 1rem;
}
.mg-y20 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.mg-t25 {
    margin-top: 1.25rem;
}
.mg-r25 {
    margin-right: 1.25rem;
}
.mg-b25 {
    margin-bottom: 1.25rem;
}
.mg-l25 {
    margin-left: 1.25rem;
}
.mg-a25 {
    margin: 1.25rem;
}
.mg-x25 {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}
.mg-y25 {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}
.mg-t30 {
    margin-top: 1.5rem;
}
.mg-r30 {
    margin-right: 1.5rem;
}
.mg-b30 {
    margin-bottom: 1.5rem;
}
.mg-l30 {
    margin-left: 1.5rem;
}
.mg-a30 {
    margin: 1.5rem;
}
.mg-x30 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.mg-y30 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
