.full-width {
    display: block;
    width: 100%;
    max-width: 100%;
    clear: both;
}
.max-width {
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    clear: both;
}
