//border
$border-000: 1px solid #000000;
$border-111: 1px solid #111111;
$border-222: 1px solid #222222;
$border-333: 1px solid #333333;
$border-444: 1px solid #444444;
$border-555: 1px solid #555555;
$border-666: 1px solid #666666;
$border-777: 1px solid #777777;
$border-888: 1px solid #888888;
$border-999: 1px solid #999999;
$border-aaa: 1px solid #aaaaaa;
$border-bbb: 1px solid #bbbbbb;
$border-ccc: 1px solid #cccccc;
$border-ddd: 1px solid #dddddd;
$border-eee: 1px solid #eeeeee;
$border-fff: 1px solid #ffffff;
$border-black: 1px solid #000000;
$border-blue: 1px solid #2196f3;
$border-brown: 1px solid #795548;
$border-green: 1px solid #4caf50;
$border-grey: 1px solid #999999;
$border-lime: 1px solid #cddc39;
$border-orange: 1px solid #ff9800;
$border-pink: 1px solid #e91e63;
$border-purple: 1px solid #9c27b0;
$border-red: 1px solid #f44336;
$border-white: 1px solid #ffffff;
$border-yellow: 1px solid #ffeb3b;
//color
$color-000: #000000;
$color-111: #111111;
$color-222: #222222;
$color-333: #333333;
$color-444: #444444;
$color-555: #555555;
$color-666: #666666;
$color-777: #777777;
$color-888: #888888;
$color-999: #999999;
$color-aaa: #aaaaaa;
$color-bbb: #bbbbbb;
$color-ccc: #cccccc;
$color-ddd: #dddddd;
$color-eee: #eeeeee;
$color-fff: #ffffff;
$color-black: #000000;
$color-blue: #2196f3;
$color-brown: #795548;
$color-green: #4caf50;
$color-grey: #999999;
$color-lime: #cddc39;
$color-orange: #ff9800;
$color-pink: #e91e63;
$color-purple: #9c27b0;
$color-red: #f44336;
$color-white: #ffffff;
$color-yellow: #ffeb3b;
//size
$size-5: 0.25rem;
$size-10: 0.5rem;
$size-15: 0.75rem;
$size-20: 1rem;
$size-25: 1.25rem;
$size-30: 1.5rem;
$size-35: 1.75rem;
$size-40: 2rem;
$size-45: 2.25rem;
$size-50: 2.5rem;
$size-55: 2.75rem;
$size-60: 3rem;
$size-65: 3.25rem;
$size-70: 3.5rem;
$size-75: 3.75rem;
$size-80: 4rem;
$size-85: 4.25rem;
$size-90: 4.5rem;
$size-95: 4.75rem;
$size-100: 5rem;
$size-105: 5.25rem;
$size-110: 5.5rem;
$size-115: 5.75rem;
$size-120: 6rem;
$size-125: 6.25rem;
$size-130: 6.5rem;
$size-135: 6.75rem;
$size-140: 7rem;
$size-145: 7.25rem;
$size-150: 7.5rem;
$size-155: 7.75rem;
$size-160: 8rem;
$size-165: 8.25rem;
$size-170: 8.5rem;
$size-175: 8.75rem;
$size-180: 9rem;
$size-185: 9.25rem;
$size-190: 9.5rem;
$size-195: 9.75rem;
$size-200: 10rem;
$size-205: 10.25rem;
$size-210: 10.5rem;
$size-215: 10.75rem;
$size-220: 11rem;
$size-225: 11.25rem;
$size-230: 11.5rem;
$size-235: 11.75rem;
$size-240: 12rem;
$size-245: 12.25rem;
$size-250: 12.5rem;
$size-2: 0.1rem;
$size-4: 0.2rem;
$size-6: 0.3rem;
$size-8: 0.4rem;
$size-12: 0.6rem;
$size-14: 0.7rem;
$size-16: 0.8rem;
$size-18: 0.9rem;
$size-22: 1.1rem;
$size-24: 1.2rem;
$size-26: 1.3rem;
$size-28: 1.4rem;
$size-32: 1.6rem;
$size-34: 1.7rem;
$size-36: 1.8rem;
$size-38: 1.9rem;
$size-42: 2.1rem;
$size-44: 2.2rem;
$size-46: 2.3rem;
$size-48: 2.4rem;
